@model Indivis.Presentation.WebUICms.Models.PageModels.CreatePageViewResModel;

@{
    bool parentPage = Model.ParentPage != null ? true : false;
    string parentUrl = (parentPage ? Model.ParentPage.Url.FullPath : "");
}
<div class="card shadow-sm">
    <div class="card-header">
        <div class="card-title">
            <blockquote class="blockquote mb-0">
                <p><string>@Model.PageSystem.Name</string>, yapısı ile yeni bir sayfa oluştur</p>
                @if(parentPage){
                    <footer class="blockquote-footer text-success">@Model.ParentPage.Name <cite title="Source Title">Sayfasına bağlı yeni bir sayfa oluşturuluyor.</cite></footer>
                }
            </blockquote>
           
        </div>
    </div>
    <div class="card-body">
       
        <form class="create-page-from" id="createPageForm">
            <input hidden name="PageSystemId" value="@Model.PageSystem.Id"  />
            <input hidden name="UrlSystemTypeId" value="@Model.PageSystem.UrlSystemTypeId"/>

            @{
                if(parentPage)
                {
                    <input hidden name="ParentPageId" value="@Model.ParentPage.Id" />
                    <input hidden name="ParentUrlId" value="@Model.ParentPage.Url.Id" />
                }
            }
            

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Sayfa Adı</label>
                <input type="text" class="form-control" id="Name" name="Name">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Sayfa Url Adresi</label>
                <input type="text" class="form-control" data-parent-url="@parentUrl" value="@parentUrl/test" id="FullPath" name="FullPath">
                <input hidden type="text" name="Path" value=""/>
            </div>

            <div class="text-end">
                <a href="/pagecms/pagesystems" class="btn btn-danger">İptal</a>
                <button type="submit" class="btn btn-primary">Ekle</button>
            </div>
            
        </form>
    </div>
</div>


@section Footer{
    <script type="module" src="/worker-assets/pages/CreatePage.js"></script>
}
