@using Indivis.Presentation.WebUICms.Models.ViewComponents.WidgetFormInputs
@model WidgetTextInputComponentResModel

@{
    string Id = string.Concat(Model.Input.Name, "_");
}


<div class="mb-3">
    <label for="@Id" class="form-label">@Model.Input.Label</label>
    <textarea class="form-control" placeholder="@Model.Input.Label" name="@Model.Input.Name" id="@Id" style="height: 100px">
        @if (!string.IsNullOrEmpty(Model.Value))
        {
            @Model.Value
        }
    </textarea>
</div>





