@model Indivis.Core.Application.Dtos.CoreEntityDtos.Widgets.Reads.ReadWidgetFormInputDto

@{
    string Id = string.Concat(Model.Name, "_");
}


<div class="mb-3">
    <label for="@Id" class="form-label">@Model.Label</label>
    <textarea class="form-control" placeholder="@Model.Label" name="@Model.Name" id="@Id" style="height: 100px"></textarea>
</div>





